# Initial SQL Queries
The purpose of this notebook is to run some initial queries and data exploration of the mlb_pitches sql database created in kaggle_dataset_sql_construction.ipynb.

Installing some needed packages:

In [1]:
from sqlalchemy import create_engine
import pandas as pd
from importlib import reload
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_formats = ['retina']
%matplotlib inline

plt.rcParams['figure.figsize'] = (9, 6)
sns.set(context='notebook', style='whitegrid', font_scale=1.2)

Setting up the sqlalchemy enginer and running some test queries:

In [2]:
#First, creating an engine and then importing the various .csv files.
engine = create_engine('postgresql://patrickbovard:localhost@localhost:5432/mlb_pitches')

### Pitches:

In [3]:
query = '''
SELECT * 
FROM pitches
LIMIT 5
;
'''
pitch_df = pd.read_sql(query, engine)

pitch_df.head()

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,event_num,b_score,ab_id,b_count,s_count,outs,pitch_num,on_1b,on_2b,on_3b
0,0.416,2.963,92.9,84.1,2305.052,159.235,-25.0,3.2,23.7,7.665,...,3,0.0,2.015000e+09,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,-0.191,2.347,92.8,84.1,2689.935,151.40200000000004,-40.7,3.4,23.7,12.043,...,4,0.0,2.015000e+09,0.0,1.0,0.0,2.0,0.0,0.0,0.0
2,-0.518,3.284,94.1,85.2,2647.972,145.125,-43.7,3.7,23.7,14.368,...,5,0.0,2.015000e+09,0.0,2.0,0.0,3.0,0.0,0.0,0.0
3,-0.641,1.221,91.0,84.0,1289.59,169.75099999999995,-1.3,5.0,23.8,2.104,...,6,0.0,2.015000e+09,0.0,2.0,0.0,4.0,0.0,0.0,0.0
4,-1.821,2.083,75.4,69.6,1374.569,280.671,18.4,12.0,23.8,-10.280,...,7,0.0,2.015000e+09,1.0,2.0,0.0,5.0,0.0,0.0,0.0

Pulling the pitch columns:

In [4]:
pitch_df.columns

Index(['px', 'pz', 'start_speed', 'end_speed', 'spin_rate', 'spin_dir',
       'break_angle', 'break_length', 'break_y', 'ax', 'ay', 'az', 'sz_bot',
       'sz_top', 'type_confidence', 'vx0', 'vy0', 'vz0', 'x', 'x0', 'y', 'y0',
       'z0', 'pfx_x', 'pfx_z', 'nasty', 'zone', 'code', 'type', 'pitch_type',
       'event_num', 'b_score', 'ab_id', 'b_count', 's_count', 'outs',
       'pitch_num', 'on_1b', 'on_2b', 'on_3b'],
      dtype='object')

In [5]:
pitch_df.type.value_counts()

S    3
B    2
Name: type, dtype: int64

Type gives ball or strike.

In [16]:
pitch_df.zone.value_counts()

13.0    2
5.0     1
1.0     1
3.0     1
Name: zone, dtype: int64

### Games:

In [6]:
query = '''
SELECT * 
FROM games
;
'''
game_df = pd.read_sql(query, engine)

game_df.head()

,Unnamed: 0,attendance,away_final_score,away_team,date,elapsed_time,g_id,home_final_score,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,0,35055.0,3.0,sln,2015-04-05,184.0,201500001.0,0.0,chn,7:17 PM,Mark Wegner,Marty Foster,Mike Muchlinski,Mike Winters,Wrigley Field,"44 degrees, clear","7 mph, In from CF",0.0
1,1,45909.0,1.0,ana,2015-04-06,153.0,201500002.0,4.0,sea,1:12 PM,Ron Kulpa,Brian Knight,Vic Carapazza,Larry Vanover,Safeco Field,"54 degrees, cloudy","1 mph, Varies",0.0
2,2,36969.0,2.0,atl,2015-04-06,156.0,201500003.0,1.0,mia,4:22 PM,Laz Diaz,Chris Guccione,Cory Blaser,Jeff Nelson,Marlins Park,"80 degrees, partly cloudy","16 mph, In from CF",16.0
3,3,31042.0,6.0,bal,2015-04-06,181.0,201500004.0,2.0,tba,3:12 PM,Ed Hickox,Paul Nauert,Mike Estabrook,Dana DeMuth,Tropicana Field,"72 degrees, dome","0 mph, None",0.0
4,4,45549.0,8.0,bos,2015-04-06,181.0,201500005.0,0.0,phi,3:08 PM,Phil Cuzzi,Tony Randazzo,Will Little,Gerry Davis,Citizens Bank Park,"71 degrees, partly cloudy","11 mph, Out to RF",0.0

Pulling the game columns:

In [7]:
game_df.columns

Index(['Unnamed: 0', 'attendance', 'away_final_score', 'away_team', 'date',
       'elapsed_time', 'g_id', 'home_final_score', 'home_team', 'start_time',
       'umpire_1B', 'umpire_2B', 'umpire_3B', 'umpire_HP', 'venue_name',
       'weather', 'wind', 'delay'],
      dtype='object')

### Atbats:

In [8]:
query = '''
SELECT * 
FROM atbats
LIMIT 5
;
'''
ab_df = pd.read_sql(query, engine)

ab_df.head()

,Unnamed: 0,inning,top,ab_id,g_id,p_score,batter_id,pitcher_id,stand,p_throws,event,o
0,0,1.0,1.0,2.019000e+09,201900001.0,0.0,594777,571666,L,R,Flyout,1
1,1,1.0,1.0,2.019000e+09,201900001.0,0.0,545361,571666,R,R,Flyout,2
2,2,1.0,1.0,2.019000e+09,201900001.0,0.0,571506,571666,L,R,Groundout,3
3,3,1.0,0.0,2.019000e+09,201900001.0,0.0,543257,502239,L,R,Single,0
4,4,1.0,0.0,2.019000e+09,201900001.0,0.0,656305,502239,R,R,Flyout,1

Pulling the at bat columns:

In [9]:
ab_df.columns

Index(['Unnamed: 0', 'inning', 'top', 'ab_id', 'g_id', 'p_score', 'batter_id',
       'pitcher_id', 'stand', 'p_throws', 'event', 'o'],
      dtype='object')

### Players:

In [10]:
query = '''
SELECT * 
FROM players
LIMIT 5
;
'''
player_df = pd.read_sql(query, engine)

player_df.head()

       id first_name   last_name
0  452657        Jon      Lester
1  425794       Adam  Wainwright
2  457435       Phil        Coke
3  435400      Jason       Motte
4  519166       Neil     Ramirez

Player columns are very simple, just an id, first_name, last_name.

## Project Goal:

FOr this project, I would like to know some of the main information on each pitch: 
- Player Info: Pitcher and Batter Names
- Situation Info: Outs, Count, Runners on Base (i.e. count and base-out state), Score (is the pitcher winning or losing?, Inning - all of these can influence how a pitcher is going to approach a hitter  
- Physical Pitch Data: 
    - Pitch type, speed, spin rate
    - Pitch Location (X/Y coordinates and Zone)
- Time series data - what was the previous one (or multiple?) pitches thrown by the pitcher?  While it isn't extremely rare, pitchers usually wouldn't throw the same pitch and location again and again, since the batter could key in on it

Ultimately, I am trying to predict two things:
- the pitch type that will be thrown (i.e. classification of pitch type).  I will need to create a "pitch arsenal" for each pitcher, to avoid predicting a pitch that they have no chance of throwing.  One way to simplify would be to classify pitches as Fastball, Off-Speed, or Breaking.  This would reduce complexity but take away some detail.  Something to consider.
- the location of the pitch *after* the pitch is selected.  The location is heavily dependent on the pitch, so once the pitch is selected, it can be used as a feature to determin location.  I see this done either through regression (i.e. x and y coordinates) or classification (which "chunk" of the strike zone the pitch will be in).

### Needed columns:

With that in mind, I'll want to pick out some key columns from the dataframes to put together in one table or view.  These would be:

- Pitch: px, pz, zone, type, pitch_type, event_num, b_score, ab_id, b_count, s_count, outs, pitch_num, on_1b, on_2b, on_3b
- Game: hone_team, away_team, date
- At Bats: inning, top (1/0 binary), p_score (pitcher score), batter_id, pitcher_id, stand (batter hand), p_throws (pitcher hand), event (pitch result)
- Player: first_name, last_name

### Table Links:

Based on the table structure these are linked as follows: 
- Pitch: contains ab_id to link to atbats
- At_bats: has g_id to link to game, batter_id and pitcher_id to link to player  
Thus, would need to connect at bats to both players and games, then link that join to pitches.

## Joins:

Starting to run some joins on the tables, as a proof of concept:

For joining game on atbat, there should be one row per at bat:

In [11]:
query = '''
SELECT a.inning, a.batter_id, a.pitcher_id, a.top, a.ab_id, a.p_score, a.stand, a.p_throws, a.event, a.o,g.date
FROM atbats as a
RIGHT JOIN games as g
    ON a.g_id = a.g_id
LIMIT 5
;
'''
test_df = pd.read_sql(query, engine)

test_df.head()

,inning,batter_id,pitcher_id,top,ab_id,p_score,stand,p_throws,event,o,date
0,1.0,594777,571666,1.0,2.019000e+09,0.0,L,R,Flyout,1,2015-04-05
1,1.0,545361,571666,1.0,2.019000e+09,0.0,R,R,Flyout,2,2015-04-05
2,1.0,571506,571666,1.0,2.019000e+09,0.0,L,R,Groundout,3,2015-04-05
3,1.0,543257,502239,0.0,2.019000e+09,0.0,L,R,Single,0,2015-04-05
4,1.0,656305,502239,0.0,2.019000e+09,0.0,R,R,Flyout,1,2015-04-05

So the above gives me a table with at-bat information combined with the data.  Next step is getting the player names in that same output.

In [12]:
query = '''
--Queuing up the game/at bat info from teh above query:
WITH game_ab AS (
SELECT a.inning, a.batter_id, a.pitcher_id, a.top, a.ab_id, a.p_score, a.stand, a.p_throws, a.event, a.o,g.date, g.home_team, g.away_team
FROM atbats as a
RIGHT JOIN games as g
    ON a.g_id = g.g_id
LIMIT 20
)

SELECT g.*, 
p.first_name as Pitcher_First_Name, p.last_name as Pitcher_Last_Name, 
h.first_name as Hitter_First_Name, h.last_name as Hitter_Last_Name

FROM game_ab as g

--first, joining up the pitcher's name:
LEFT JOIN players as p
    ON g.pitcher_id = p.id

--now, joining the hitter's name:
LEFT JOIN players as h
    ON g.batter_id = h.id

--Ordering and limiting:
ORDER BY g.ab_id ASC
LIMIT 20
;
'''
test_df = pd.read_sql(query, engine)

test_df.head(12)

,inning,batter_id,pitcher_id,top,ab_id,p_score,stand,p_throws,event,o,date,home_team,away_team,pitcher_first_name,pitcher_last_name,hitter_first_name,hitter_last_name
0,1.0,594777,571666,1.0,2.019000e+09,0.0,L,R,Flyout,1,2019-03-28,oak,ana,Mike,Fiers,Kole,Calhoun
1,1.0,545361,571666,1.0,2.019000e+09,0.0,R,R,Flyout,2,2019-03-28,oak,ana,Mike,Fiers,Mike,Trout
2,1.0,571506,571666,1.0,2.019000e+09,0.0,L,R,Groundout,3,2019-03-28,oak,ana,Mike,Fiers,Justin,Bour
3,1.0,543257,502239,0.0,2.019000e+09,0.0,L,R,Single,0,2019-03-28,oak,ana,Trevor,Cahill,Robbie,Grossman
4,1.0,656305,502239,0.0,2.019000e+09,0.0,R,R,Flyout,1,2019-03-28,oak,ana,Trevor,Cahill,Matt,Chapman
5,1.0,572039,502239,0.0,2.019000e+09,0.0,R,R,Forceout,2,2019-03-28,oak,ana,Trevor,Cahill,Stephen,Piscotty
6,1.0,501981,502239,0.0,2.019000e+09,0.0,R,R,Flyout,3,2019-03-28,oak,ana,Trevor,Cahill,Khris,Davis
7,2.0,592743,571666,1.0,2.019000e+09,0.0,R,R,Groundout,1,2019-03-28,oak,ana,Mike,Fiers,Andrelton,Simmons
8,2.0,405395,571666,1.0,2.019000e+09,0.0,R,R,Hit By Pitch,1,2019-03-28,oak,ana,Mike,Fiers,Albert,Pujols
9,2.0,446359,571666,1.0,2.019000e+09,0.0,R,R,Pop Out,2,2019-03-28,oak,ana,Mike,Fiers,Zack,Cozart
10,2.0,600303,571666,1.0,2.019000e+09,0.0,L,R,Flyout,3,2019-03-28,oak,ana,Mike,Fiers,Tommy,La Stella
11,2.0,595777,502239,0.0,2.019000e+09,0.0,L,R,Triple,0,2019-03-28,oak,ana,Trevor,Cahill,Jurickson,Profar

Excellent, based on the [game summary](https://www.mlb.com/gameday/angels-vs-athletics/2019/03/28/566086#game_state=final,lock_state=final,game_tab=box,game=566086) these events match up perfectly with what happened in the Angels-A's game on 3/28/2019, so this query is acting as intended.

Final step is adding in the pitch information to the above query:

In [33]:
query = '''
--Queuing up the game/at bat info from teh above query:
WITH game_player_ab AS (

WITH game_ab AS (
SELECT a.inning, a.batter_id, a.pitcher_id, a.top, a.ab_id, a.p_score, a.stand, a.p_throws, a.event, g.date, g.home_team, g.away_team
FROM atbats as a
RIGHT JOIN games as g
    ON a.g_id = g.g_id
)

SELECT g.*, 
p.first_name as Pitcher_First_Name, p.last_name as Pitcher_Last_Name, 
h.first_name as Hitter_First_Name, h.last_name as Hitter_Last_Name

FROM game_ab as g

--first, joining up the pitcher's name:
LEFT JOIN players as p
    ON g.pitcher_id = p.id

--now, joining the hitter's name:
LEFT JOIN players as h
    ON g.batter_id = h.id

--Ordering:
ORDER BY g.ab_id ASC
)

SELECT 
--First, taking all the data above, along with the batting team score:
gpa.*, pi.b_score,

--Adding the runners on base:
pi.on_1b, pi.on_2b, pi.on_3b,

--Now, selecting data from the pitch table:
pi.px, pi.pz, pi.zone, pi.pitch_type, pi.start_speed,pi.type, pi.b_count, pi.s_count, pi.outs, pi.pitch_num,

--Finally, adding in previous pitch info (for that at bat).  This will lead to some NaN values for the first pitch of an at-bat, which is expected:
(max(pi.pitch_type) OVER (PARTITION BY gpa.ab_id ORDER BY pi.pitch_num ASC ROWS 1 PRECEDING EXCLUDE CURRENT ROW)) as last_pitch_type,
(max(pi.px) OVER (PARTITION BY gpa.ab_id ORDER BY pi.pitch_num ASC ROWS 1 PRECEDING EXCLUDE CURRENT ROW)) as last_pitch_px,
(max(pi.pz) OVER (PARTITION BY gpa.ab_id ORDER BY pi.pitch_num ASC ROWS 1 PRECEDING EXCLUDE CURRENT ROW)) as last_pitch_pz,
(max(pi.start_speed) OVER (PARTITION BY gpa.ab_id ORDER BY pi.pitch_num ASC ROWS 1 PRECEDING EXCLUDE CURRENT ROW)) as last_pitch_speed

FROM pitches as pi
RIGHT JOIN game_player_ab as gpa
    ON pi.ab_id = gpa.ab_id
    
--Ordering:
ORDER BY gpa.ab_id ASC, pi.pitch_num ASC
;
'''
combined_data_df = pd.read_sql(query, engine)

combined_data_df.head(10)

,inning,batter_id,pitcher_id,top,ab_id,p_score,stand,p_throws,event,date,...,start_speed,type,b_count,s_count,outs,pitch_num,last_pitch_type,last_pitch_px,last_pitch_pz,last_pitch_speed
0,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,2015-04-05,...,92.9,S,0.0,0.0,0.0,1.0,None,NaN,NaN,NaN
1,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,2015-04-05,...,92.8,S,0.0,1.0,0.0,2.0,FF,0.416,2.963,92.9
2,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,2015-04-05,...,94.1,S,0.0,2.0,0.0,3.0,FF,-0.191,2.347,92.8
3,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,2015-04-05,...,91.0,B,0.0,2.0,0.0,4.0,FF,-0.518,3.284,94.1
4,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,2015-04-05,...,75.4,B,1.0,2.0,0.0,5.0,FF,-0.641,1.221,91.0
5,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,2015-04-05,...,92.9,X,2.0,2.0,0.0,6.0,CU,-1.821,2.083,75.4
6,1.0,518792,452657,1.0,2.015000e+09,0.0,L,L,Double,2015-04-05,...,93.3,B,0.0,0.0,1.0,1.0,None,NaN,NaN,NaN
7,1.0,518792,452657,1.0,2.015000e+09,0.0,L,L,Double,2015-04-05,...,89.3,X,1.0,0.0,1.0,2.0,FF,-1.088,1.610,93.3
8,1.0,407812,452657,1.0,2.015000e+09,0.0,R,L,Single,2015-04-05,...,92.1,B,0.0,0.0,1.0,1.0,None,NaN,NaN,NaN
9,1.0,407812,452657,1.0,2.015000e+09,0.0,R,L,Single,2015-04-05,...,89.3,B,1.0,0.0,1.0,2.0,FF,1.470,2.350,92.1

Again, based on [the same game summary](https://www.mlb.com/gameday/angels-vs-athletics/2019/03/28/566086#game_state=final,lock_state=final,game_tab=play-by-play,game=566086), this follows the game: Kole Calhoun flew out on a one pitch at-bat (88.8 mph four-seam fastball), then Mike Trout flew out after a 5 pitch at bat with a 2-1 count.  While I can't verify the exact pitch coordinates (Px, Py), visually they look close based on the game summary pitches.  Additionally, the previous pitch info is matching up well, so the query seems to be pulling data as intended.  

So far so good.

In [34]:
combined_data_df.shape

(3596117, 34)

The shape is also the same as the original pitch file, so everything appears to be working correctly.

In [35]:
combined_data_df.columns

Index(['inning', 'batter_id', 'pitcher_id', 'top', 'ab_id', 'p_score', 'stand',
       'p_throws', 'event', 'date', 'home_team', 'away_team',
       'pitcher_first_name', 'pitcher_last_name', 'hitter_first_name',
       'hitter_last_name', 'b_score', 'on_1b', 'on_2b', 'on_3b', 'px', 'pz',
       'zone', 'pitch_type', 'start_speed', 'type', 'b_count', 's_count',
       'outs', 'pitch_num', 'last_pitch_type', 'last_pitch_px',
       'last_pitch_pz', 'last_pitch_speed'],
      dtype='object')

## Adding Additional Features to Pitch Data

FIrst step, combining pitcher and hitter names:

In [36]:
combined_data_df['pitcher_full_name'] = combined_data_df['pitcher_first_name'] + ' ' + combined_data_df['pitcher_last_name']

In [37]:
combined_data_df['pitcher_full_name'].value_counts().head(10)

Max Scherzer        16312
Justin Verlander    16239
Jon Lester          15656
Trevor Bauer        15652
Rick Porcello       15602
Jose Quintana       15589
Zack Greinke        15243
Julio Teheran       15190
Chris Sale          15173
Jacob deGrom        15034
Name: pitcher_full_name, dtype: int64

Great, pitcher name is added, and I now know who threw the most pitches from 2015-2019: Max Scherzer, Justin Verlander, Jon Lester, Trevor Bauer, and Rick Porcello, are top 5, which makes sense.

Next, making a pitcher score differential (i.e. pitcher score minus batter score).  This will help tell if the pitcher is winning or losing the game at the time of the pitch.

In [38]:
combined_data_df['pitcher_run_diff'] = combined_data_df.p_score - combined_data_df.b_score

In [39]:
combined_data_df['pitcher_run_diff'].value_counts()

 0.0     951602
 1.0     431512
-1.0     429042
 2.0     300805
-2.0     294184
 3.0     202112
-3.0     195588
 4.0     141521
-4.0     136563
 5.0      91811
-5.0      89014
 6.0      60993
-6.0      59456
 7.0      39924
-7.0      38001
 8.0      26280
-8.0      24488
 9.0      17152
-9.0      16382
 10.0     10182
-10.0      9832
 11.0      6096
-11.0      5532
 12.0      3437
-12.0      3381
 13.0      2286
-13.0      2120
 14.0      1686
-14.0      1339
 15.0       832
-15.0       816
 16.0       510
-16.0       458
 17.0       203
 18.0       155
-17.0       146
 19.0       145
-18.0       127
-19.0        96
 20.0        38
-20.0        37
 21.0        20
-23.0        13
 24.0        11
-21.0         7
-24.0         7
 23.0         2
Name: pitcher_run_diff, dtype: int64

These values make sense, most pitches are thrown in a tire game, with numbers decreasing the further you get from zero.

Adding a hitter full name column:

In [41]:
combined_data_df['hitter_full_name'] = combined_data_df['hitter_first_name'] + ' ' + combined_data_df['hitter_last_name']

In [42]:
combined_data_df['hitter_full_name'].value_counts().head(10)

Paul Goldschmidt    14541
Carlos Santana      13931
Joey Votto          13699
Mookie Betts        13693
Charlie Blackmon    13341
Mike Trout          13334
Xander Bogaerts     13169
Brett Gardner       13159
Anthony Rizzo       13149
Brian Dozier        13133
Name: hitter_full_name, dtype: int64

Based on this, the hitters who faced the most pitches from 2015-2019 seem to make sense from a cursory glance.

One last thing to add for now is a date_time_date column, so I can more easily work with the date data to spot trends over time in EDA.

In [53]:
combined_data_df['Date_Time_Date'] = pd.to_datetime(combined_data_df.date)
combined_data_df.drop(columns=['date'], inplace=True)

In [54]:
combined_data_df['Season'] = combined_data_df.Date_Time_Date.dt.year

In [55]:
combined_data_df.head()

,inning,batter_id,pitcher_id,top,ab_id,p_score,stand,p_throws,event,home_team,...,pitch_num,last_pitch_type,last_pitch_px,last_pitch_pz,last_pitch_speed,pitcher_full_name,pitcher_run_diff,hitter_full_name,Date_Time_Date,Season
0,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,chn,...,1.0,None,NaN,NaN,NaN,Jon Lester,0.0,Matt Carpenter,2015-04-05,2015
1,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,chn,...,2.0,FF,0.416,2.963,92.9,Jon Lester,0.0,Matt Carpenter,2015-04-05,2015
2,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,chn,...,3.0,FF,-0.191,2.347,92.8,Jon Lester,0.0,Matt Carpenter,2015-04-05,2015
3,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,chn,...,4.0,FF,-0.518,3.284,94.1,Jon Lester,0.0,Matt Carpenter,2015-04-05,2015
4,1.0,572761,452657,1.0,2.015000e+09,0.0,L,L,Groundout,chn,...,5.0,FF,-0.641,1.221,91.0,Jon Lester,0.0,Matt Carpenter,2015-04-05,2015

Perfect!

## Initial EDA

Here, I'll take a look at some of the stats in the dataset.

### Which pitchers have the fastest average four seam fastball?

In [52]:
combined_data_df[combined_data_df.pitch_type == 'FF'].groupby('pitcher_full_name').agg({'start_speed': ['mean', 'count']}).sort_values(by=('start_speed', 'mean'), ascending=False).head(10)

                    start_speed
                           mean count
pitcher_full_name
Jordan Hicks         100.929032    62
Mauricio Cabrera     100.034573   457
Aroldis Chapman       99.378653  3504
Tayron Guerrero       98.764510  1499
Diego Castillo        98.698000   150
Arquimedes Caminero   98.132368   967
Ray Black             98.017753   445
Jose Alvarado         97.902835   388
Ariel Hernandez       97.882456   285
Erik Cordier          97.832143   140

This makes sense, since those guys newar the top are notorious for having the fastest fastballs in baseball.

### What about the slowest? 
Filtering by players with at least 300 pitches (trying to filter out position players who randomly pitched here or there for an inning).

In [57]:
ff_speed = combined_data_df[combined_data_df.pitch_type == 'FF'].groupby('pitcher_full_name').agg({'start_speed': ['mean', 'count']})

In [59]:
ff_speed[ff_speed[('start_speed', 'count')] >= 300].sort_values(by=('start_speed', 'mean')).head(10)

                  start_speed
                         mean count
pitcher_full_name
R.A. Dickey         82.659045  1194
Jered Weaver        83.386176  1577
Steven Wright       83.419678   559
Mark Buehrle        83.855989   743
Jason Vargas        85.465914  1285
Dan Haren           86.004718   869
Brent Suter         86.111025  2331
Chris Smith         86.667688   783
Wade LeBlanc        86.694937   632
Adam Cimber         86.725500   400

Again, these make sense - Jered Weaver and Mark Buehrle were especially slow pitchers, and R.A. Dickey and Steven Wright are knuckleball pitchers who are also very slow.

### How has the average fastball velocity changed over time?

In [56]:
combined_data_df[combined_data_df.pitch_type == 'FF'].groupby('Season').agg({'start_speed': ['mean']})

       start_speed
              mean
Season
2015     92.481383
2016     92.575063
2017     93.223131
2018     93.166404
2019     93.399953

Increased by about 1 mph over the course of the five seasons, which is meaningful change.

### Who throws the most of each pitch kind?  
First, finding the different pitch types in the dataset.

In [60]:
combined_data_df.pitch_type.value_counts()

FF    1276362
SL     578258
FT     399027
CH     372728
CU     298557
SI     297865
FC     196095
KC      81808
FS      54243
KN      11460
IN       6197
EP        864
FO        846
PO        628
SC        113
UN         57
FA          9
AB          9
Name: pitch_type, dtype: int64

This is how these pitches translate to real life, based on the Kaggle Dataset and Baseball Savant:
- FF: Four Seam Fastball
- SL: Slider
- FT: Two Seam Fastball
- CH: Changeup
- CU: Curveball
- SI: Sinker
- FC: Cutter (Cut Fastball)
- KC: Knuckle-Curve
- FS: Split Finger Fastball
- KN: Knuckleball
- IN: Intentional Ball (i.e. Intentional Walk)
- EP: Eephus
- FO: Forkball
- PO: Pitch-Out
- SC: Screwball
- UN: Unknown
- FA: ???
- AB: Automatic Ball (i.e. Balk)

In [78]:
pitch_names = ['Four Seamer', 'Slider', 'Two-Seamer', 'Changeup', 'Curveball', 'Sinker', 'Cutter', 'Knuckle-Curve', 'Splitter', 'Knuckleball', 'Eephus', 'Forkball', 'Screwball']
pitch_types = ['FF', 'SL', 'FT', 'CH', 'CU', 'SI', 'FC', 'KC', 'FS', 'KN', 'EP', 'FO', 'SC']

In [83]:
for i, pitch in enumerate(pitch_types):
    print("Top 10 Throwers of the {}:".format(pitch_names[i]))
    print(combined_data_df[combined_data_df.pitch_type == pitch].pitcher_full_name.value_counts().head(10))
    print('\n')

Top 10 Throwers of the Four Seamer:
Justin Verlander    9123
Max Scherzer        8458
Kevin Gausman       7987
J.A. Happ           7565
Gerrit Cole         7492
Chris Archer        6882
Jose Quintana       6779
James Paxton        6667
Jacob deGrom        6545
Jake Odorizzi       6539
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Slider:
Chris Archer         6039
Patrick Corbin       4700
Chris Sale           4456
Clayton Kershaw      4436
Masahiro Tanaka      3985
Jhoulys Chacin       3912
Jason Hammel         3784
Justin Verlander     3466
Francisco Liriano    3431
Jacob deGrom         3406
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Two-Seamer:
Dallas Keuchel       6356
Bartolo Colon        6089
Ivan Nova            5085
Marcus Stroman       4983
Kyle Gibson          4907
Rick Porcello        4761
Francisco Liriano    4640
Chris Sale           4469
Patrick Corbin       4188
Martin Perez         4050
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Changeup:
Marco Estrada        3691
Kyle Hendricks       3652
Chris Sale           3044
Cole Hamels          2939
Zack Greinke         2882
David Price          2852
Gio Gonzalez         2751
Chase Anderson       2627
Jeremy Hellickson    2623
Jason Vargas         2548
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Curveball:
Jose Quintana        4211
Charlie Morton       3172
Rich Hill            3119
Gio Gonzalez         2833
Stephen Strasburg    2794
Adam Wainwright      2793
Jose Berrios         2774
Corey Kluber         2755
Ivan Nova            2691
Aaron Nola           2686
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Sinker:
Jake Arrieta        6879
Kyle Hendricks      6353
Hector Santiago     5965
Mike Leake          5426
Steven Matz         5365
Derek Holland       5026
Mike Pelfrey        4360
Corey Kluber        4175
Kendall Graveman    4165
Andrew Heaney       3917
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Cutter:
Bryan Shaw       4537
Jon Lester       4045
Kenley Jansen    3589
Josh Tomlin      2894
Mike Leake       2844
Will Harris      2706
Alex Colome      2670
Collin McHugh    2605
Mark Melancon    2541
CC Sabathia      2530
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Knuckle-Curve:
Drew Pomeranz      3855
Lance McCullers    3367
Zack Godley        2724
Trevor Bauer       2431
Alex Wood          2366
Dellin Betances    2214
James Shields      2173
Cody Allen         2018
James Paxton       1967
Gerrit Cole        1950
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Splitter:
Masahiro Tanaka     3692
Kevin Gausman       3254
Jake Odorizzi       3067
Hector Neris        2598
Jorge De La Rosa    2380
Anibal Sanchez      2201
Oliver Drake        1716
Ubaldo Jimenez      1523
Taijuan Walker      1350
Junior Guerra       1349
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Knuckleball:
R.A. Dickey      7461
Steven Wright    3736
Eddie Gamboa      166
Luke Maile         13
Erick Aybar        11
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Eephus:
James Shields          207
R.A. Dickey            203
Odrisamer Despaigne    165
Zack Greinke           132
Alfredo Simon           46
Rich Hill               27
Danny Duffy             23
Adam Wainwright         16
Carlos Villanueva       12
Henderson Alvarez       11
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Forkball:
Junichi Tazawa    739
Matt Carasiti     107
Name: pitcher_full_name, dtype: int64


Top 10 Throwers of the Screwball:
Hector Santiago    113
Name: pitcher_full_name, dtype: int64

Most of these look about right based on domain knowledge.  Particularly, knuckleball, forkball, and screwball, which are very rare pitchers and have pitchers notoriously associated with them.

One interesting thing to note here is the Dallas Keuchel has the most two seamers thrown, but his top pitch is sometimes called a sinker.  There's a bit of ambiguity on the subject, with the two pitches utilizing a similar grip and motion and are often the same.  More info [here](https://blogs.fangraphs.com/players-view-are-two-seamers-and-sinkers-the-same-pitch/).  

Taking a bit closer look at his pitches here:

In [84]:
combined_data_df[combined_data_df.pitcher_full_name == 'Dallas Keuchel'].groupby('pitch_type').agg({'pitch_type': ['count']})

           pitch_type
                count
pitch_type
CH               1700
FC               1573
FF               1271
FT               6356
IN                  4
SL               2607

Ok, so at least they don't have him with mixed two-seamers and sinkers.  That means it's clean to count by each pitch.

### Who relies on each pitch the most?

One other thing to look at is how often each pitcher throws each pitch type (i.e. four seamer 70% of the time, etc.).  This will help to see who *relies* on each pitch most heavily, and will help define a pitch *arsenal* for each pitcher for classification purposes.  

In other words, I can't build a model that will predict that Dallas Keuchel will throw a curveball if he doesn't ever throw it in real life.  That would confuse a hitter and provide them with detrimental information.

First, I'll need to group the data by each pitcher, and what pitches they have thrown w/ counts:

In [97]:
pitcher_total_pitches = combined_data_df.groupby(['pitcher_full_name']).agg({'pitch_type': ['count']})
pitcher_total_pitches.head()

                  pitch_type
                       count
pitcher_full_name
A.J. Achter              796
A.J. Burnett            2499
A.J. Cole               3127
A.J. Griffin            3383
A.J. Minter             1878

In [115]:
pitcher_total_pitches.loc['A.J. Achter', ('pitch_type', 'count')]

796

In [100]:
pitcher_type_df = combined_data_df.groupby(['pitcher_full_name','pitch_type']).agg({'pitch_type': ['count']})
pitcher_type_df.head(8)

                             pitch_type
                                  count
pitcher_full_name pitch_type
A.J. Achter       CH                281
                  FC                 57
                  FF                261
                  FT                 99
                  IN                  5
                  PO                  1
                  SL                 92
A.J. Burnett      CH                219

In [103]:
pitcher_type_df['Total_Pitches'] = 0

Looping through to add how many pitches each pitcher has thrown in total:

In [121]:
for i, pitcher in enumerate(pitcher_type_df.index):
    pitcher_name = pitcher[0]
    total_pitches = pitcher_total_pitches.loc[pitcher_name, ('pitch_type', 'count')]
    pitcher_type_df.iloc[i, 1] = total_pitches
pitcher_type_df.head(15)

                             pitch_type Total_Pitches
                                  count
pitcher_full_name pitch_type
A.J. Achter       CH                281           796
                  FC                 57           796
                  FF                261           796
                  FT                 99           796
                  IN                  5           796
                  PO                  1           796
                  SL                 92           796
A.J. Burnett      CH                219          2499
                  FF                292          2499
                  IN                  8          2499
                  KC                731          2499
                  PO                  1          2499
                  SI               1248          2499
A.J. Cole         CH                166          3127
                  CU                445          3127

Adding in a rate stat for pitch type:

In [123]:
pitcher_type_df['Pitch_Type_Rate'] = pitcher_type_df[('pitch_type', 'count')] / pitcher_type_df[('Total_Pitches', )]

For easier grouping, associating each row with a name:

In [142]:
pitcher_type_df['Name'] = ''

In [144]:
for i, name in enumerate(pitcher_type_df.index):
    pitcher_type_df.iloc[i, 3] = name[0]

In [148]:
pitcher_type_df.head()

                             pitch_type Total_Pitches Pitch_Type_Rate  \
                                  count
pitcher_full_name pitch_type
A.J. Achter       CH                281           796        0.353015
                  FC                 57           796        0.071608
                  FF                261           796        0.327889
                  FT                 99           796        0.124372
                  IN                  5           796        0.006281

                                     Name

pitcher_full_name pitch_type
A.J. Achter       CH          A.J. Achter
                  FC          A.J. Achter
                  FF          A.J. Achter
                  FT          A.J. Achter
                  IN          A.J. Achter

Now, to rank by each pitch type to see who relies on each pitch the most.  Again, I'll be filtering here for ~500 pitches minimum, to try to get pitchers with a decent sample size of pitches.

In [149]:
pitcher_type_df[pitcher_type_df[('Total_Pitches', )] >= 500]

                             pitch_type Total_Pitches Pitch_Type_Rate  \
                                  count
pitcher_full_name pitch_type
A.J. Achter       CH                281           796        0.353015
                  FC                 57           796        0.071608
                  FF                261           796        0.327889
                  FT                 99           796        0.124372
                  IN                  5           796        0.006281
...                                 ...           ...             ...
Zack Wheeler      CU                830          7600        0.109211
                  FF               2829          7600        0.372237
                  FS                390          7600        0.051316
                  FT               1662          7600        0.218684
                  SL               1494          7600        0.196579

                                      Name

pitcher_full_name pitch_type
A.J. Achter       CH           A.J. Achter
                  FC           A.J. Achter
                  FF           A.J. Achter
                  FT           A.J. Achter
                  IN           A.J. Achter
...                                    ...
Zack Wheeler      CU          Zack Wheeler
                  FF          Zack Wheeler
                  FS          Zack Wheeler
                  FT          Zack Wheeler
                  SL          Zack Wheeler

[5521 rows x 4 columns]